.from-container input:not([type="checkbox"]) {
  display: block;
  width: 75%;
  margin-bottom: 10px;
}
.from-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ragisterbtn {
  width: 100px;
}
